body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 51%, 95%);
}

code {
  font-family: "Inter", sans-serif;
}
